{% extends 'base.html' %}
{% block title %}Satisfaction Survey - Question {{ question }}{% endblock %}
{% block content %}
<h1>{{ satisfaction.title }} - Question {{ question }}</h1>
<p>{{ satisfaction.questions[question].question }}</p>
<form action="/answer" method="POST">
  {% for choice in satisfaction.questions[question].choices %}
  <div>
    <input type="radio" id="{{ choice }}" class="choice" name="answer" value="{{ choice }}">
    <label for="{{ choice }}">{{ choice }}</label>
  </div>
  {% endfor %}
  <button class="choice">Select</button>
{% endblock %}
